@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply scroll-smooth;
  }

  .home-title {
    @apply flex text-4xl min-w-full justify-center font-semibold h-fit mb-5
  }

  .footer-icon {
    @apply flex text-5xl min-w-full justify-center font-semibold h-fit mb-5
  }

  .project-title {
    @apply text-2xl  justify-center font-medium h-fit
  }

  .home-container {
    @apply flex flex-col min-h-screen lg:mx-36 md:mx-32 sm:mx-6 mx-2 
  }

  .responsive-grid {
    @apply grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4 items-center my-20
  }

  .paragraph-text {
    @apply text-lg my-6
  }

  .label-text {
    @apply text-white
  }

  .input-style {
    @apply input input-bordered w-full max-w-xs focus:border-sky-500 focus:border-2
  }
}

.custom-shape-divider-bottom-1680370847 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680370847 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 116px;
}

.custom-shape-divider-bottom-1680370847 .shape-fill {
  fill: #60A5FA;
}
